body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

main {
  padding: 10px;
}

footer {
font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color:rgb(151, 188, 41)
}

img {
  height: 200px;
}



nav {
  color: white;
  border-bottom: black, 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color:rgb(209, 72, 26)

}

a.one{
color:white;
}

a {
text-decoration: none;
padding-top: 20px;
padding-bottom: 20px;
color: rgb(19, 129, 43)
}

h3 {
color:rgb(188, 110, 41)
}

a:hover {
color: blue
}

.container {
display: grid;
grid-template-columns: auto auto auto auto;
grid-gap: 10px;
padding-top: 25px;
padding-bottom: 50px;
}

h1 {
letter-spacing: -1px;
font-weight: bold;
color:rgb(9, 90, 9)
}

h2 {
font-weight: bold;
letter-spacing: -1px
}

tr:nth-child(even) {
background-color: rgb(198, 196, 196)
}
